@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins';
}

label {
  font-weight: bold;
  padding-right: 15px;
  font-size: large;
}

input {
  width: 400px;
  text-align: center;
  height: 100px;
  font-size: larger;
  color: black;
  border-color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  transition: all 0.5s;
}

input:hover{
  width: 420px;
  height: 120px;
  background-color: black;
  color: white;
}

p {
  margin-bottom: 35px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}
